
/*setting a color palette*/

:root {
    --blueGreen: #1f6f6a;
    --purple: #5000CE;
    --silver: #C0C0C0;
    --red: #6B1209;
}

body {
    background: rgb(192,192,192);
    background: linear-gradient(90deg, rgba(192,192,192,1) 0%, rgba(255,239,226,1) 50%, rgba(192,192,192,1) 100%);
}

header {
    display: flex;
    margin: auto;
    padding: auto;
    justify-content: space-evenly;
    position: relative;
}

header img {
    border-radius: 25px;
    border-color: var(--red);
    border-style: groove;
    object-fit: cover;
}

/*Finally made the nav not look like all one word. The key was margins. Still not as spaced out as I'd like but at least it's not all one word now.*/

nav li{
    color: var(--red);
    justify-content: space-between;
    position: relative;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
}

a {
    color: var(--purple);
    text-decoration: none;
}

nav li :active {
    color: var(--red);
}

/*why isn't the focus working?*/

nav li :focus {
    color: var(--purple);
}

ul {
    list-style-type: none;
    display: flex;
}

h1 {
    font: italic 1.2em "Fira Sans", serif;
    font-size: 50px;
    color: var(--blueGreen);
}

h2 {
    color: var(--red);
    margin: auto;
    width: 50%;
    border: 3px groove var(--blueGreen);
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    font-size: 40px
}

p {
    margin: auto;
    width: 50%;
    padding: 45px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}

#About-Me {
    background: rgb(192,192,192);
background: linear-gradient(90deg, rgba(192,192,192,1) 0%, rgba(255,239,226,1) 50%, rgba(192,192,192,1) 100%);
}

#My-Work {
    background: rgb(192,192,192);
background: linear-gradient(90deg, rgba(192,192,192,1) 0%, rgba(255,239,226,1) 50%, rgba(192,192,192,1) 100%);
}

#Contact {
    background: rgb(192,192,192);
background: linear-gradient(90deg, rgba(192,192,192,1) 0%, rgba(255,239,226,1) 50%, rgba(192,192,192,1) 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/*figure out a way to make the projects display how you actually want them to*/

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*been trying so desperately to get the text in the project bubbles to center vertically but the only note I have on how to do that isn't workinggggg*/

.project-header {
    display: flex;
    color: var(--silver);
    font-size: 25px;
    background-color: var(--blueGreen);
    justify-content: center;
    align-items: center;
}

.projects {
    width: auto;
    margin:auto;
    text-align: center;
    font-size: 15px;
    border-style: solid;
    border-color: var(--blueGreen);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    align-items: center;
}

/*attempt #2 to get the words in the project bubbles to align vertically*/

.projects li {
    align-items: center;
}

/*makes the project images fit into the border bubble, not quite sure how to get them to line up with the border better though. Maybe set the heights to be the same number?*/

.project-content {
    display: flex;
    justify-content: space-between;
}

.project-content img {
    width: 500px;
}

#Contact ul {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: auto;
    color: var(--purple);
    text-decoration: underline;
    justify-content: center;
}

/*again with the weird space around the color like it does with the header. Make it stop.*/

footer {
    background-color:var(--silver);
}

/*making the screen look nice on smaller screens. Set to 280px since that was the smallest screen size I could find on the console.*/

@media screen and (min-width: 280px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1 {
        text-align: center;
    }
    nav li {
        display: inline-flex;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 17px;
    }
    h2 {
        font-size: 25px;
    }
    img {
        width: 200px;
        height: 200px;
    }

}
